/* SOME DEFAULT CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* make elements with hidden class disappear */
.hidden {
    display: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* announcement bar */
.announcement-bar-bg{
    width: 100%;
    height: 42px;
    background-color: whitesmoke;
}
.announcement-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Helvetica Now Text Medium", sans-serif;
    color:black;
}

.header-left{
    display: flex;
    width: 100px;
}


header,
.announcement-bar {
    margin: 0 14.5%; 
    transition: margin 0.2s ease; 
}
@media (max-width:1980px) {
    .announcement-bar,
    header{
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* hide top navbar */
@media (max-width:900px){
    .announcement-bar-bg{
        display: none;
    }
}
.announcement-bar-left-section-jodan img{
    width: 28px;
    height: 28px;
    padding-top: 5px;
}
.announcement-bar-left-section-converse img{
    width: 43px;
    height: 28px;
    padding-top: 5px;
    padding-left: 8px;
}

.information-bar{
    width: 259px;
    height: 17px;
    position: relative;
}
.announcement-bar-left-section{
    display: flex;
    align-items: center ;
}

.announcement-bar-inner-list{
    display: flex;
}

.announcement-bar-inner-list li{
    padding: 3px;
    padding-top: 10px;
    font-size: 13px;
    list-style-type: none;
}

.announcement-bar-inner-list a{
    color: black;
    text-decoration: none;

}
.announcement-bar-inner-list a:hover{
    color:grey;
}

/* ------------------------------------------------------------------------------ */

/* Header */
.header-nav{
    display: flex;
    justify-content: space-between;
    background-color: white;

}
.middle-nav-bar{
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;

}
.middle-nav-bar li{
    padding: 0 10px;
    padding-top: 2px;
    list-style-type: none;
}
.middle-nav-bar li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.middle-nav-bar a{
    color: inherit;
    text-decoration: none;
    color: #000000;
}
.right-nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
@media (max-width:1250px) {
    #sale{
        display: none;
    }
}
@media (max-width:1150px) {
    #jordan{
        display: none;
    }
}
@media (max-width:1050px) {
    #kid{
        display: none;
    }
}
@media (max-width:1000px) {
    #men{
        display: none;
    }
}
@media (max-width:950px) {
    #women{
        display: none;
    }
}
@media (max-width:900px) {
    #new-featured{
        display: none;
    }
    .search-nav {
        display: none;
    }
    .search-bar svg{
        display: none;
    }

    .icon-img-heart {
        display: none;
    }

    .icon-img {
        justify-content: center;
    }

    .icon-img div {
        padding: 8px;
    }

    .icon-img div img {
        width: 24px;
        height: 24px;
    }
}

.search-nav{
    margin-top: 10px;
    padding: 10px;
    border-radius: 70px;
    border: none;
    background-color: #E8E8E8;
    padding-right: 30px;
    align-items: center;
}

/* icon */
.icon-img{
    display: flex;
    width: fit-content;
    align-items: center;
    height: fit-content;
}

.icon-img div {
    margin: 0 12px 0 0;
    padding: 6px;
}

@media screen and (min-width: 900px) {
    .icon-img-search,
    .icon-img-profile,
    .icon-img-menu {
        display: none;
    }
}





/* overall container */
.overall-container {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
}

/* main styling */
.member {
    width: 100%;
    height: 40vh;
    padding: 40px 0 0;
    margin: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.membership-1 {
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.membership {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.membership-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

/* styling on text */
.text-mem {
    padding: 12px;
    border: 1px solid grey;
}
.text-mem h2{
    color: orangered;
}
.text-mem p{
    margin-top: 0px;
    color: grey;
}

.text-mem a{
    color: grey;
    text-decoration: underline;
}

/* bag text */
.bag1 h1{
    font-size: 24px;
    font-weight: 150;
    padding-top: 8px;
}
.bag1 p{
    padding-top: 4px;
    padding-left: 10px;
}



.summary {
    height: 100%;
    width: 100%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}
.summary h2{
    margin-top: 0px;
    padding-bottom: 10px;
}
.order-summary {
    display: flex;
    margin: auto;
    padding: 25px 110px;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
}
.order-summary a{
    color: grey;
    text-decoration: none;
}
.checkout{
    font-size: 15px;
}
.payment-option {
    text-align: center;
}
.collapsible_sum {
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 350;
    padding: 0px;
    color: black;
    padding-bottom: 20px;
}
#esh::before {
    content: "Free";
    float: right;
  }
  #subtotal::before {
    content: "\2212";
    float: right;
  }
  #estimated-tax::before {
    content: "\2212";
    float: right;
  }
  #total{
    border-top: 1px solid grey;
    padding-top: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}



/* favorite */
.favorites {
    width: 100%;
    padding: 0 8px;
    height: 76.8px;
}

.fav1 h2 {
    font-weight: 200;
    padding-top: 10px;
    width: 100%;
}

.fav1 a{
    font-size: 18px;
    color: grey;
}
/* swiper */
.swiper {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
}

/* you might also like */
#like{
    padding-left: 50px;
    font-size: 25px;
}

/* button */
.icon > .button1{
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    border: none; 
    font-size: 16px; 
    cursor: pointer;
    outline: none; 
}


/* h3 holder */
#h3-holder {
    width: 100%;
    height: 78.8px;
    display: flex;
    flex-direction: column;
}

#h3-holder > span {
    width: 100%;
    height: 36px;
}

.icon {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* slider */
.slider {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 0 0 0 48px;
}

.slider2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.nike-card {
    width: 500px;
    margin-right: 10px;
    height: 100%;
}

.nike-card img {
    max-width: 100%;
    object-fit: cover;
}



/* mobile responsiveness */
@media screen and (max-width: 959px) {
    .text-mem{
        width: 100%;
    } 
    
    #bag.hidden {
        display: block;
    }

    .bag1 > h1 {
        display: none;
    }
    #bag.hidden h1 p{
        display: flex;
        justify-content: space-around
    }

    .bag-item p{
        padding-bottom: 30px;
    }

    .bag1 p{
        padding-top: 20px;
        margin-left: 0;
        margin-right: auto;
    }

    .membership-wrapper{
        justify-content: space-around;
        align-items: center;
        margin: 10px; 
    }
    .membership {
        flex-direction: column;
    }

    .membership-1 {
        width: 100%;
    }

    /* Favorite */
    .favorites{
        margin-top: 70px;
    }
    .icon{
        margin-top: 50px;
    }
    #like{
        padding-left: 0;
    }

    /* swiper */
    .swiper {
        height: 55vh;
    }

    /* slider */
    .slider {
        padding: 0 0 0 24px;
    }

    .slider2 {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    /* swiper */
    .swiper {
        height: fit-content;
    }

    /* nike card */
    .nike-card {
        width: 60vw;
    }

    .big-container-summary{
        width: 100%;
    }  
    .checkout{
        display: none;
    }
    .payment-option {
        display: none;
    }
    .order-summary {
        display: none;
    }

}

/* footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    width: auto;
    gap: 50px;
}

.list{
	list-style: none;
    padding-left: 0;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
	background-color: rgb(0, 0, 0);
    padding: 60px 0;
    margin-top: 80px;
    
}

.footer-col h4{
	font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.footer-col h4::before{
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #000000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
}
.footer-col a{
    text-decoration: none;
    color: #ffffff;
}
.footer-col ul li a:hover{
	color: #ffffff;
    text-decoration: none;
}
.footer-col-1 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;

}
.footer-col-1 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.bottom-text{
    display: flex;
    top: 0%;
    left: 50%;
    gap: 20px;

}
.bottom-text p{
    font-size: 14px;
    font-weight: 300;
    margin-left: 40px;

}


.bottom-text1{
    display: flex;
    top: 0%;
    left: 50%;
    gap: 10px;
}
.bottom-text1 p{
    font-weight: 300;
}

.collapsible {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 350;
    padding: 0px;
    color: white;
    padding-bottom: 5px;
  }
/* footer */
@media (max-width:900px){
    .footer-row{
        flex-direction: column;
        margin: left;
        transition: margin 0.2 ease;
    }
    .bottom-text{
        flex-direction: column;
    }
    .bottom-text1{
        flex-direction: column;
    }
    .bottom-text p{
        margin: 0px;
    }
    .footer-col{
        border-bottom: 1px solid grey;
    }
    .list{
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-weight:300;
        font-family: Arial, Helvetica, sans-serif;
    }
    .collapsible{
        padding-bottom: 10px;
        color: white;
        font-size: 16px;
    }
    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: 400;
        float: right;
        transition: transform 0.4s ease;
      }
      .active:after {
        content: "\2212";
        transform: rotate(180deg);
      }
      
}