@import "../node_modules/bootstrap/scss/bootstrap.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    /* width: 100vw;
    height: 100vh; */
    font-size: 16px;
    min-width: 500px;
    font-family: "Helvetica Now Text Medium", sans-serif;
}

/* ------------------------------------------------------------------------------ */

/* announcement bar */
.announcement-bar-bg{
    width: 100%;
    height: 42px;
    background-color: whitesmoke;
}
.announcement-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Helvetica Now Text Medium", sans-serif;
    color:black;
}

.header-left{
    display: flex;
    width: 100px;
}


header,
.announcement-bar {
    margin: 0 14.5%; 
    transition: margin 0.2s ease; 
}
@media (max-width:1980px) {
    .announcement-bar,
    header{
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* hide top navbar */
@media (max-width:900px){
    .announcement-bar-bg{
        display: none;
    }
}
.announcement-bar-left-section-jodan img{
    width: 28px;
    height: 28px;
    padding-top: 5px;
}
.announcement-bar-left-section-converse img{
    width: 43px;
    height: 28px;
    padding-top: 5px;
    padding-left: 8px;
}

.information-bar{
    width: 259px;
    height: 17px;
    position: relative;
}
.announcement-bar-left-section{
    display: flex;
    align-items: center ;
}

.announcement-bar-inner-list{
    display: flex;
}

.announcement-bar-inner-list li{
    padding: 3px;
    padding-top: 10px;
    font-size: 13px;
    list-style-type: none;
}

.announcement-bar-inner-list a{
    color: black;
    text-decoration: none;

}
.announcement-bar-inner-list a:hover{
    color:grey;
}

/* ------------------------------------------------------------------------------ */

/* Header */
.header-nav{
    display: flex;
    justify-content: space-between;
    background-color: white;

}
.middle-nav-bar{
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;

}
.middle-nav-bar li{
    padding: 0 10px;
    padding-top: 2px;
    list-style-type: none;
}
.middle-nav-bar li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.middle-nav-bar a{
    color: inherit;
    text-decoration: none;
    color: #000000;
}
.right-nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
@media (max-width:1250px) {
    #sale{
        display: none;
    }
}
@media (max-width:1150px) {
    #jordan{
        display: none;
    }
}
@media (max-width:1050px) {
    #kid{
        display: none;
    }
}
@media (max-width:1000px) {
    #men{
        display: none;
    }
}
@media (max-width:950px) {
    #women{
        display: none;
    }
}
@media (max-width:900px) {
    #new-featured{
        display: none;
    }
    .search-nav {
        display: none;
    }
    .search-bar svg{
        display: none;
    }

    .icon-img-heart {
        display: none;
    }

    .icon-img {
        justify-content: center;
    }

    .icon-img div {
        padding: 8px;
    }

    .icon-img div img {
        width: 24px;
        height: 24px;
    }
}

.search-nav{
    margin-top: 10px;
    padding: 10px;
    border-radius: 70px;
    border: none;
    background-color: #E8E8E8;
    padding-right: 30px;
    align-items: center;
}

/* icon */
.icon-img{
    display: flex;
    width: fit-content;
    align-items: center;
    height: fit-content;
}

.icon-img div {
    margin: 0 12px 0 0;
    padding: 6px;
}

@media screen and (min-width: 900px) {
    .icon-img-search,
    .icon-img-profile,
    .icon-img-menu {
        display: none;
    }
}





/* ------------------------------------------------------------------------------ */

/* NIKE IMG */
.navigation-image {
    width: 100%;
    left: 0;
    padding-top: 10px;
  }

/* ------------------------------------------------------------------------------ */

/* middle part */
.more-info{
    justify-content: center;
}

.more-info-wrapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 55px;
    padding-bottom: 55px;
}
.more-info-wrapper h1{
    font-size: 50px;
    font-weight: 900;
}
.more-info-wrapper button{
    padding: 10px 20px 10px 20px;
    background-color: #000000;
    border: none;
    color: #E8E8E8;
    border-radius: 50px;
    cursor: pointer;
}
.more-info-wrapper button:hover {
    background-color: grey;
}

/* ------------------------------------------------------------------------------ */

/* img in window shape  */
.win-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-item {
    position: relative;
}

.grid-item img{
    display: block;
    width: 100%;
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;

}

.overlay-text p{
    font-size: 20px;
    font-weight: 200px;
    margin-bottom: 10px;
}

.overlay-text button {
    padding: 10px 20px;
    background-color: #fff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.overlay-text button:hover {
    background-color: rgb(173, 172, 172);
}

/* media  for img in window shape*/
@media screen and (max-width: 800px) {
    .win-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Adjust to 1 column */
    }
}

/* ------------------------------------------------------------------------------ */

/* Middle Part 2 */
.new-this-weeek{
    display: flex;
    justify-content: center;
}
.button-container{
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 55px;
}
.button-container h1{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    font-family: "Nike Futura", sans-serif;
}
.button-container button{
    padding: 10px 20px 10px 20px;
    background-color: #000000;
    border: none;
    color: #E8E8E8;
    border-radius: 50px;
    cursor: pointer;
}
.button-container button:hover{
    background-color: grey;
}
/* media of new this week  */
@media (max-width:900px){
    .button-container button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}

/* ------------------------------------------------------------------------------ */

/* 3 sets picture */
.container-fluid {
    display: block;
    left: 0;
    padding-top: 55px;
    padding-bottom: 55px;
}
.col-lg-12{
    flex: 0 0 auto;
    width: 100%;
    padding: 0px;
}

/* ------------------------------------------------------------------------------ */

/* Swiper Slider */
.shop-by-classic{
    max-width: 1920px;
    margin: 0 auto;
}
.shop-by-classic h2{
    font-weight: 900;
    margin-left: 10px;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 50px;
}

.next-button {
  right: 50px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.wrapper1 {
  overflow: hidden;
}

.carousel1 {
  display: flex;
}

.carousel1 img {
  cursor: pointer;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 900px) {
    .prev-button,
    .next-button{
        display: none;
    }
    .show-slider1 {
        overflow: auto;
    }
    .carousel1 img {
        width: 100%;
    }
}

/* ------------------------------------------------------------------------------ */

/* Nike Membership */
.nike-membership{
    max-width: 1920px;
    margin: 0 auto;
}
.nike-mem{
    font-weight: bold;
    margin-top: 30px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.grid-item1 {
    position: relative;
}

.grid-item1 img {
    display: block;
    width: 100%;
    cursor: pointer;
    
}

.overlay-text1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.overlay-text1 h5 {
    margin-bottom: 10px;
}

.overlay-text1 button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.overlay-text1 button:hover {
    background-color: rgb(169, 167, 167);
}

/* Responsive styles */
@media (max-width: 900px) {
    .grid-container1 {
        overflow: auto;
    }
    .nike-mem
    .grid-container1{
        margin: 20px;
    }
}
/* ------------------------------------------------------------------------------ */

/* featued shoes clothing and kids */
.py-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;    
  }
.row5 {
    display: flex;
    justify-content: center;
}
.new-row {
    max-width: 1200px; 
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

/* media for featued shoes clothing and kids */
 @media (max-width:900px) {
    .row5{
        /* flex-wrap: wrap; */
        flex-direction: column;
        margin-left: 2rem;
        transition: margin 0.2s ease;
   }
    .nav li{
        display: none;
    }
}
@media (max-width:500px){
    .nav a{
        display: none;
    }
}

/* ------------------------------------------------------------------------------ */

/* footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    width: auto;
    gap: 50px;
}

.list{
	list-style: none;
    padding-left: 0;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
	background-color: rgb(0, 0, 0);
    padding: 60px 0;
    
    
}

.footer-col h4{
	font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.footer-col h4::before{
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #000000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
}
.footer-col a{
    text-decoration: none;
    color: #ffffff;
}
.footer-col ul li a:hover{
	color: #ffffff;
    text-decoration: none;
}
.footer-col-1 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;

}
.footer-col-1 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.bottom-text{
    display: flex;
    top: 0%;
    left: 50%;
    gap: 20px;

}
.bottom-text p{
    font-size: 14px;
    font-weight: 300;
    margin-left: 40px;

}


.bottom-text1{
    display: flex;
    top: 0%;
    left: 50%;
    gap: 10px;
}
.bottom-text1 p{
    font-weight: 300;
}

.collapsible {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 350;
    padding: 0px;
    color: white;
    padding-bottom: 5px;
  }
/* footer */
@media (max-width:900px){
    .footer-row{
        flex-direction: column;
        margin: left;
        transition: margin 0.2 ease;
    }
    .bottom-text{
        flex-direction: column;
    }
    .bottom-text1{
        flex-direction: column;
    }
    .bottom-text p{
        margin: 0px;
    }
    .footer-col{
        border-bottom: 1px solid grey;
    }
    .list{
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-weight:300;
        font-family: Arial, Helvetica, sans-serif;
    }
    .collapsible{
        padding-bottom: 10px;
        color: white;
        font-size: 16px;
    }
    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: 400;
        float: right;
        transition: transform 0.4s ease;
      }
      .active:after {
        content: "\2212";
        transform: rotate(180deg);
      }
      
}
